{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to your Flask app! {% endblock %}</h1>
    <form method="post" action="{{ url_for('home') }}">
        <input type="text" name="token" placeholder="Enter token"  value='f3e6910ed731470e8f7463759f3d5b37'required>
        <input type="text" name="location" placeholder="Enter desired location" value="23 Montrose Road Taringa Australia" required>
        <button type="submit">Search</button>
    </form>
    {% if token %}
        <p>Your token: {{ token }}</p>
    {% endif %}
    {% if location %}
        <p>You entered: {{ location }}</p>
    {% endif %}
    {% if lat and lon %}
        <h3>Location on Map:</h3>
        <div id="map" style="height: 400px;"></div>
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script>
          var map = L.map('map').setView([{{ lat }}, {{ lon }}], 13);
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
          }).addTo(map);
          L.marker([{{ lat }}, {{ lon }}]).addTo(map)
            .bindPopup('{{ location }}')
            .openPopup();
        </script>
        {% if school or shopping %}
            <h3>Nearest School:</h3>
            <p>Name: {{ school.name }}</p>
            <p>Address: {{ school.address }}</p>
            <p>Distance: {{ school.distance }} km</p>
            <h3>Nearest Shopping Center:</h3>
            <p>Name: {{ shopping.name }}</p>
            <p>Address: {{ shopping.address }}</p>
            <p>Distance: {{ shopping.distance }} m</p>
        {% endif %}
    {% endif %}
{% endblock %}